/* src/Concluidos.css */
.concluidos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.concluidos-table th, .concluidos-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.concluidos-table th {
  background-color: #a3a3a3;
  color: black  ;
  font-weight: bold;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 5px;
}

.reactivate-button {
  color: #007bff; /* Azul */
}
.reactivate-button {
  color: #007bff; /* Azul */
}