body {
  background-color: #0e0e16;
  color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  height: 120vh;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.subTitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0.5;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  font-size: 1.1rem;
  font-family: inherit;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.5;
  resize: none;
  overflow-y: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input:focus {
  outline: none;
  box-shadow: -5px -5px 10px rgb(22, 22, 22);
  background-color: #f9f9f9;
}

.form button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-left: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  color: gray;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 60rem;
}

.listItem {
  background-color: #1c1c2e;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
}

.editItem {
  width: 80%;
  border: 1px solid #ffffff;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 3px;
}

.list li.done {
  text-decoration: line-through;
  opacity: 0.6;
  color: #aaa;
  background-color: #2d2d2d;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  transform: scale(1.2);
}

.custom-popup {
  background-color: #0e0e16;
  color: white;
}

.kanbanBoard {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.kanbanColumn {
  padding: 15px;
  border-radius: 10px;
  min-width: 250px;
  flex: 1;
  max-height: 60vh;
  overflow-x: auto;
  border: 1px solid #444444;
}

.kanbanItem{
  background-color: #1c1c2e;
 
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.atrasado {
  background-color: #ff4d4d;
}

.hoje{
  background-color: #ffcc00;
}
.searchBar{
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #000000;
  
}

/* Scrollbar padrão (WebKit) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Parte móvel da barra */
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
  transition: background-color 0.3s;
}

/* Ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}



/* Para telas menores que 1024px (tablets e notebooks pequenos) */
@media (max-width: 1024px) {
  .input {
    width: 80%;
  }

  .list {
    width: 90%;
  }

  .editItem {
    width: 100%;
  }
}

/* Para telas menores que 768px (celulares grandes e tablets em retrato) */
@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }

  .input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form button {
    width: 40%;
    border-radius: 10px;
    font-size: 1.5rem;
  }

  .list {
    width: 80vw;
  }

  .listItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
}

/* Para telas menores que 480px (celulares pequenos) */
@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1rem;
  }

  .form button {
    font-size: 1.3rem;
  }
}
